.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
}

.loader-wrapper {
    text-align: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #e2e8f0;
    border-bottom-color: #6366f1; /* Колір твоєї теми */
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
}

.loader-text {
    margin-top: 15px;
    color: #6366f1;
    font-weight: 600;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}