* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
      overflow-x: hidden;
  }
  body {
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #000000;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* HEADER */
  .header {
    display: flex;
    justify-content: center;
    padding: 50px;
    background: #fff;
    margin-bottom: -100px;
  }
  
  .header__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    font-size: 24px;
  }
  
  .logo__circle {
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: #458FF6;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
  }

  .nav a {
    text-decoration: none;
    color: #7D7987;
  }

  .nav a.active {
    font-weight: bold;
    color: #000000;
    font-weight: 700;
  }

  /* HERO */
  
  .hero {
    padding: 120px;
    opacity: 1;
    border-radius: 55px;
  }
  
  .hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  
  .title_text { 
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  .hero__text {
    max-width: 420px;
    
  }
  
  .hero__text h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero__text p {
    margin-top: 30px;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    width: 430px;
    
  }
  
  .hero__image img {
    margin: 0 0 0 100px;
    width: 693px;
    height: 598px;
  }
  .dots_in_hero { 
    margin: 110px 0 -220px 0 ;
}
  /* BUTTONS */

  .btn {
    border-radius: 55px;
    text-decoration: none;
    background: #458FF6;
    color: #fff;
    transition: 0.3s;
    width: 200px;
    height: 56px;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
  }
  
  .btn--outline {
    background: transparent;
    border: 2px solid #458FF6;
    color: #458FF6;
    font-weight: 700;
  }
  
  /* PROVIDERS */
  .providers {
    padding: 80px 0;
  }
  
  .providers__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  
  .providers__text {
    max-width: 450px;
  }
  
  .providers__text p { 
    color: #7D7987;
    font-weight: 300;
    font-size: 18px;
    max-width: 390px;
    line-height: 30px;
  }
  
  .providers__text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    max-width: 350px;
    font-size: 36px;
  }

  .providers__divider {
    width: 56px;
    height: 1.96px;
    background: #000;
    margin: 18px 0;
    border-radius: 10px;
  }

  .services__divider { 
    width: 56px;
    height: 1.96px;
    background: #000;
    margin: 18px auto;
    border-radius: 10px;
  }
  
  /* SERVICES */
  .services {
    position: relative;
    overflow: hidden;
    padding: 80px 0;
    text-align: center;
  }
  
 
  .services__bg {
    position: absolute;
    top: 130px;         
    left: 50%;
    transform: translateX(-95%) rotate(-11deg);
    z-index: -1;
  }
  
  
  .services__bg img {
    width: 937.96px;   
    height: 900.38px;
  }

  .section-title {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 66px;
    font-size: 36px;
  }
  
  .section-subtitle {
    width: 952px;
    height: 60px;
    margin: 0 auto 50px;
    size: 18px;
    color: #7D7987;
    max-width: 820px;
  }
  
  .services__button { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .service-card {
    background: #fff;
    width: 350px;
    height: 354px;
    padding: 30px;
    padding-top: 50px;
    padding-left: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    text-align: left;
    margin-left: 40px;
  }
  
  .service-card h3 {
    margin: 20px 0 10px;
    font-size: 24px;
  }
  .service-card p { 
    font-size: 16px;
    color: #7D7987;
  }
  
  /* FOOTER */

  footer {
    height: 120px;
    width: 100%;
    background: linear-gradient(#67C3F3 0%, #5A98F2 100%);
    display: flex;
    margin-top: 100px;
}

.footer_logo {
    width: 160px;
    height: 41px;
    margin: 40px 0px 0px 227px;
}

.footer_nav{
    display: flex;
    gap: 140px;
    list-style: none;
    text-decoration: none;
    margin-top: 48px;
    margin-left: 377px;
    font-size: 20px;
    font-weight: 500;
}

.footer_nav_link {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1.2s ease forwards;
}



@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.btn {
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}

.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
.nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav a {
    text-decoration: none;
    color: #7D7987;
}

.nav a.active {
    font-weight: bold;
    color: #000000;
    font-weight: 700;

}
.nav.active {}
@media (max-width: 768px) {
    .header {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 20px;
        background: #fff;
    }
    .container {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    .hamburger {
        display: flex;
        z-index: 5;
    }

    .hero {
        padding: 140px 0 0;
        opacity: 1;
        display: flex;
    }
    .nav {
        display: none;
    }

    .nav.active {
        display: block;
        position: absolute;
        top: 70px;
        left: 10px;
        right: 10px;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 5;
    }

    .nav ul {
        flex-direction: column;
        gap: 15px;
    }
    .hero__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .title_text {
        display: flex;
    }

    .hero__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 8px;
        text-wrap: wrap;
        p {
            max-width: 400px;
        }
    }

    .hero__image img {
        margin: 0 0 0 0;
        width: 223px;
        height: 228px;
    }

    .dots_in_hero {
        position: absolute;
        z-index: 0;
    }

    .providers__content {
        gap: 20px;
        flex-direction: column;
    }

    .providers {
        padding: 40px 0;
    }

    .providers__image img {
        width: 223px;
        height: 228px;
    }

    .mobile_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .section-subtitle {
        display: flex;
        text-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .services__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer_nav {
        gap: 30px;
        margin-top: 0;
        margin-left: 0;
    }

    .footer_logo {
        width: 160px;
        height: 41px;
        margin: 0;
    }
}